<div id="components">
	<div class="component-line"> 
		<div id="Motherboard" class="component component-top-left">
			<p class="component-title">Motherboard</p>
			<p class="component-description">The backbone of the computer. All parts are connected through the motherboard.</p>
			<p class="component-required">Required</p>
		</div>
		<div id="CPU" class="component component-top-middle">
			<p class="component-title">CPU</p>
			<p class="component-description">The central processing unit for the computer. All tasks on the computer are run by this.</p>
			<p class="component-required">Required</p>
		</div>
		<div id="CPU-Cooler" class="component component-top-middle">
			<p class="component-title">CPU Cooler</p>
			<p class="component-description">Aftermarket CPU coolers perform much better than stock coolers and increase performance of the CPU.</p>
			<p class="component-required"></p>
		</div>
		<div id="Disc-Drive" class="component component-top-right">
			<p class="component-title">Disc Drive</p>
			<p class="component-description">Reads data on discs for the computer and writes information to disc.</p>
			<p class="component-required"></p>
		</div>
	</div>
	<div class="component-line">
		<div id="Graphics-Card" class="component component-middle-left">
			<p class="component-title">Graphics Card</p>
			<p class="component-description">Greatly improves movie, rendering, and game performance on your computer.</p>
			<p class="component-required"></p>
		</div>
		<div id="Hard-Drive" class="component component-middle">
			<p class="component-title">Hard Drive</p>
			<p class="component-description">Stores all the data for your computer.</p>
			<p class="component-required">Required</p>
		</div>
		<div id="Power-Supply" class="component component-middle">
			<p class="component-title">Power Supply</p>
			<p class="component-description">Powers each part of your computer. Cannot power more than the specified wattage.</p>
			<p class="component-required">Required</p>
		</div>
		<div id="Memory" class="component component-middle-right">
			<p class="component-title">Memory</p>
			<p class="component-description">Memory acts as a temporary data storage for applications that are running on your computer.</p>
			<p class="component-required">Required</p>
		</div>
	</div>
	<div class="component-line">    
		<div id="Case" class="component component-bottom-left">
			<p class="component-title">Case</p>
			<p class="component-description">The case houses all the components of your computer</p>
			<p class="component-required">Required</p>
		</div>
		<div id="Monitor" class="component component-bottom-middle">
			<p class="component-title">Monitor</p>
			<p class="component-description">The larger the resolution, the more that can be displayed on the screen. Can be paired with other monitor for a multi-display setup.</p>
			<p class="component-required">Required</p>
		</div>
		<div id="Monitor" class="component component-bottom-middle component-empty">
		</div>
		<div id="Monitor" class="component component-bottom-right component-empty">
			<p style="margin:1em; font-size:13pt"><span style="color:red">*</span><span style="color:white">Required items are needed only if you are making a complete system.</span></p>
		</div>
	</div>
</div>