#Components
{
    position: relative;
    width: 300;
    margin: 0 0 0 0;
	padding: 0 0 0 0;
	background-color: #3d4244;
	z-index: 8000;
}

#Components a
{
    text-decoration: none;
	z-index: 9070;
}

.component-line {
    position: relative;
	z-index: 7000;
}

.component {
	clear: both;
    width: 310px;
    min-height: 90px;
    background-color:rgb(33, 34, 33);
	margin: 20px 0 20px 0;
}

.component:hover {
	background-color: #295666;
	cursor: pointer;
}

.component-title {
	width: 70px;
	height: 70px;
    margin-top:10px;
    margin-left:5px;
    margin-bottom:10px;
	float: left;
}

.component-description {
    font-size:9pt;
    color: white;
    margin-left:80px; 
    text-align:left;
	height: 40px;
	width: 235px;
}

.component-required {
    color:white;
    text-align:left;
    font-size:10pt;
}

.component-empty {
    background-color: rgb(61, 66, 68);
	height: 40px;
	width: 310px;
}

.component-empty:hover {
	background-color: rgb(61, 66, 68);
	cursor: auto;
}

.category_name
{
	font-size:9pt;
    margin-left: 80px;
	padding-top: 10px;
	color: white;
}

.side_tab
{
	position: fixed;	
	bottom: 0;
	left: 0;
	margin: 0 0 0 0;
}

.tab_options
{
	position: fixed;
    list-style: none;
	z-index: 9999;
	padding: 0 0 0 0;
}

#Selected_options
{
	bottom:0;

}

#Comp_price
{
    bottom: 0;
	right: 0px;
}

.price_tab
{    
    background-color: #636566;    
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	width: 80px;
}

.price_tab h4
{
	padding: 5px 0 0 0;
	margin: 0 0 5px 0;
	text-align: center;
	color: white;
}

.price_tab p
{
    font-size: small;
	padding: 0 0 5px 0;
	margin: 0 0 0 0;
	color: white;
	text-align: center;
}

#Sort_options
{
	left: 0px;
}

.tab
{
	width: 80px;
	float: left;
    background-color: #636566;    
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

#Selected_tab
{
}

#Selected_parts
{
	position: relative;
	z-index: 9999;
    float: left;
	width: 310px;
	min-height: 54px;
    background-color: #636566;
}

.part_selected_options
{
    width: inherit;
    float: left;
	color: white;
	font-size: small;
	margin: 5px 0 5px 10px;
}

.part_selected_options span
{
    float: left;
	margin: 0 5px 0 5px;
	padding: 0 0 0 0;
}

.part_in
{
    float: left;
	width: 190px;	
	max-width: 190px;
}

.part_in_info
{
    float: left;
	margin: 0 5px 0 0;
	padding: 0 0 0 0;
}

.manu
{
    margin: 0 5px 0 0;
}

.part_selected_options a
{
    float: left;
	text-decoration: none;
	color: white;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.part_selected_options a:hover
{
    color: #71D0CE;    
}

.side_menu
{
    background-color: #636566;
	width: 232px;
}

#Sort_tab
{
}

.tab_link
{
    float: left;
	clear: left;
    color: white;
	font-size: large; 
	text-decoration: none;
	padding: 0 0 0 0;
}

.tab_link:hover
{
    color: #71D0CE;
	cursor: pointer;
}

.selected_link
{
	margin: 5px 0 5px 0;
	background: none;
	border: none;
}

.sort_link
{
	margin: 5px 0 5px 0;
	background: none;
	border: none;
}

.arrow_left
{
    float: left;
	padding: 0 0 0 0;
	margin: 10px 0 0 0;
}

.arrow_right
{
    float: left;
	padding: 0 0 0 0;
	margin: 10px 0 0 20px;
}

.save_label
{
    color: white;
	float: left;
	font-size: medum;
	margin: 20px 0 0 0;
	padding: 0 0 0 0;
}

.save_field
{
    float: left;
    margin: 10px 0 0 0;
	padding: 0 0 0 0;
}

.component-empty input
{
    float: left;
	margin: 20px 0 0 0;
	padding: 0 5px 0 5px;
}

.save_header
{
    float: left;
	clear: left;
	color: #71D0CE;
	padding: 0 0 0 0;
	margin: 10px 0 0 0;
}

.save_error
{
    float: left;
	color: #71D0CE;
	margin: 15px 0 0 0;
}

.selected_header
{
    padding: 0 0 0 0;
	margin: 5px 0 5px 0;
	color: white;
}

.export
{
    float: left;
	margin: 10px 0 0 0;
}

.export_label
{
    color: white;
	font-size: smaller;
	float: left;
	margin: 5px 5px 0 10px;
}

.compLink
{
    float: left;
	color: #71D0CE;
	margin: 10px 0 10px 65px;
	text-decoration: none;
}

.compLink:hover
{
	text-decoration: underline;
}