#Components
{
    position: relative;
    width: 910px;
    margin: 50px 0 0 0;
	padding: 0 0 0 0;
	background-color: #3d4244;
	z-index: 8000;
	float: left;
}

#Components a
{
    text-decoration: none;
}

.component-line {
    position: relative;
	z-index: 7000;
}

.component {
    width: 190px; /*224px;*/
    height: 310px; /* 349px; */
    background-color:rgb(33, 34, 33);
    float:left;
	margin: 20px 17px 20px 18px;
}

.component:hover {
	background-color: #295666;
	cursor: pointer;
}

.component-top-left {
    border-bottom:1px solid #3d4244;
    border-right:1px solid #3d4244;
}

.component-top-middle {
    border-bottom:1px solid #3d4244;
    border-right:1px solid #3d4244;
    border-left:1px solid #3d4244;
}

.component-top-right {
    border-bottom:1px solid #3d4244;
    border-left:1px solid #3d4244;    
}

.component-middle-left{
    border-bottom:1px solid #3d4244;
    border-right:1px solid #3d4244;
    border-top:1px solid #3d4244;    
}

.component-middle {
    border:1px solid #3d4244;     
}

.component-middle-right {
    border-bottom:1px solid #3d4244;
    border-left:1px solid #3d4244;
    border-top:1px solid #3d4244;       
}

.component-bottom-left {
    border-right:1px solid #3d4244;
    border-top:1px solid #3d4244;       
}

.component-bottom-middle {
    border-left:1px solid #3d4244;
    border-right:1px solid #3d4244;
    border-top:1px solid #3d4244;       
}

.component-bottom-right {
    border-left:1px solid #3d4244;
    border-top:1px solid #3d4244;        
}

.component-title {
    margin-top:15px;
    margin-left:32px;
    margin-right:32px;
    margin-bottom:1em;
}

.component-description {
    font-size:10pt;
    color: white;
    margin-left:auto; 
    margin-right:auto;
    margin-top:10px;
    text-align:left;
	height: 110px;
	width: 140px;
}

.component-required {
    color:white;
    text-align:center;
    font-size:13pt;
}

.component-empty {
    background-color: rgb(61, 66, 68);
}

.component-empty:hover {
	background-color: rgb(61, 66, 68);
	cursor: auto;
}

.category_name
{
    margin: 0 0 0 0;
	padding: 0 0 0 0;
	color: white;
}

.side_tab
{
	position: fixed;	
	top: 18%;
	margin: 0 0 0 0;
}

.tab_options
{
	position: fixed;
    list-style: none;
	z-index: 9999;
	padding: 0 0 0 0;
}

#Selected_options
{
	right: 0px;
}

#Comp_price
{
    top: 25%;
	right: 0px;
}

.price_tab
{    
    background-color: #636566;    
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	width: 80px;
}

.price_tab h4
{
	padding: 5px 0 0 0;
	margin: 0 0 5px 0;
	text-align: center;
	color: white;
}

.price_tab p
{
    font-size: small;
	padding: 0 0 5px 0;
	margin: 0 0 0 0;
	color: white;
	text-align: center;
}

#Sort_options
{
	left: 0px;
}

.tab
{
	width: 80px;
	float: left;
    background-color: #636566;    
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

#Selected_tab
{
}

#Selected_parts
{
	position: relative;
	z-index: 9900;
    float: left;
	width: 310px;
	min-height: 54px;
    background-color: #636566;
}

.part_selected_options
{
    width: inherit;
    float: left;
	color: white;
	font-size: small;
	margin: 5px 0 5px 10px;
}

.part_selected_options span
{
    float: left;
	margin: 0 5px 0 5px;
	padding: 0 0 0 0;
}

.part_in
{
    float: left;
	width: 190px;	
	max-width: 190px;
}

.part_in_info
{
    float: left;
	margin: 0 5px 0 0;
	padding: 0 0 0 0;
}

.manu
{
    margin: 0 5px 0 0;
}

.part_selected_options a
{
    float: left;
	text-decoration: none;
	color: white;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.part_selected_options a:hover
{
    color: #71D0CE;    
}

.side_menu
{
    background-color: #636566;
}

#Sort_tab
{
}

.tab_link
{
    float: left;
	clear: left;
    color: white;
	font-size: large; 
	text-decoration: none;
	padding: 0 0 0 0;
}

.tab_link:hover
{
    color: #71D0CE;
	cursor: pointer;
}

.selected_link
{
	margin: 5px 0 5px 0;
	background: none;
	border: none;
}

.sort_link
{
	margin: 5px 0 5px 0;
	background: none;
	border: none;
}

.arrow_left
{
    float: left;
	padding: 0 0 0 0;
	margin: 10px 0 0 0;
}

.arrow_right
{
    float: left;
	padding: 0 0 0 0;
	margin: 10px 0 0 20px;
}

.save_label
{
    color: white;
	float: left;
	font-size: medum;
	margin: 20px 0 0 0;
	padding: 0 0 0 0;
}

.save_field
{
    float: left;
    margin: 10px 0 0 0;
	padding: 0 0 0 0;
}

.component-empty input
{
    float: left;
	margin: 20px 0 0 0;
	padding: 0 5px 0 5px;
}