#Components
{
    position: relative;
    width: 910px;
	height: 1080px;
    margin: 50px 0 0 0;
	padding: 0 0 0 0;
	background-color: #3d4244;
	z-index: 8000;
	float: left;
}

.component-line {
    position: relative;
	z-index: 7000;
}

.component {
    width: 190px; /*224px;*/
    height: 310px; /* 349px; */
    background-color:rgb(33, 34, 33);
    float:left;
	margin: 20px 17px 20px 18px;
}

.component:hover {
	background-color: #295666;
	cursor: pointer;
}

.component-top-left {
    border-bottom:1px solid #3d4244;
    border-right:1px solid #3d4244;
}

.component-top-middle {
    border-bottom:1px solid #3d4244;
    border-right:1px solid #3d4244;
    border-left:1px solid #3d4244;
}

.component-top-right {
    border-bottom:1px solid #3d4244;
    border-left:1px solid #3d4244;    
}

.component-middle-left{
    border-bottom:1px solid #3d4244;
    border-right:1px solid #3d4244;
    border-top:1px solid #3d4244;    
}

.component-middle {
    border:1px solid #3d4244;     
}

.component-middle-right {
    border-bottom:1px solid #3d4244;
    border-left:1px solid #3d4244;
    border-top:1px solid #3d4244;       
}

.component-bottom-left {
    border-right:1px solid #3d4244;
    border-top:1px solid #3d4244;       
}

.component-bottom-middle {
    border-left:1px solid #3d4244;
    border-right:1px solid #3d4244;
    border-top:1px solid #3d4244;       
}

.component-bottom-right {
    border-left:1px solid #3d4244;
    border-top:1px solid #3d4244;        
}

.component-title {
    margin-top:15px;
    margin-left:32px;
    margin-right:32px;
    margin-bottom:1em;
}

.component-description {
    font-size:10pt;
    color: white;
    margin-left:auto; 
    margin-right:auto;
    margin-top:10px;
    text-align:left;
	height: 120px;
	width: 140px;
}

.component-required {
    color:white;
    text-align:center;
    font-size:13pt;
}

.component-empty {
    background-color: rgb(61, 66, 68);
}

.component-empty:hover {
	background-color: rgb(61, 66, 68);
	cursor: auto;
}

#Selected_list
{
    float: left;
	position: absolute;
    list-style: none;
	z-index: 9999;
	top: 120px;
	left: 910px;
	margin: 70px 0 0 32px;
	padding: 0 0 0 0;
}

#Selected_tab
{
}

#Selected_link
{
	width: 65px;
	height: 230px;
	float: left;
	text-decoration: none;
}

#Selected_link:hover p
{
    color: #71D0CE;
}

#Selected_div
{
	width: 65px;
	height: 230px;
	float: left;
    background-color: #636566;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.rotated
{    
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    color: white;
	font-size: x-large;
}

#Selected
{
	padding: 0 0 0 0;
	margin: 80px 0 0 0;
}

#Parts
{
	padding: 0 0 0 0;
	margin: 25px 0 0 0;
}

#Parts_selected
{
    display: none;
    width: 300px;
	height: 790px;
	float: left;
	margin-right: -300px;
    background-color: #636566;
}