body {
	background-image: url(background_center.jpg) repeat-y;
	/*background-color: #212221;*/
	background-color: #3d4244;
    font-family:Arial;
    padding:0px;
    margin:0px;
	height: 100%;
}

#Center
{
	background-color: #3d4244;
	width: 400px;
	min-height: 50px;
	max-height: 9999px;
	margin: 0 auto 0 auto;
	clear: both;
}

#Bound
{
	clear: both;
	min-width: 300;
	width: auto;
	margin: 0 auto 0 auto;
	height: auto;
	position: relative;
}

#Main
{
	clear: both;
	margin: 0 auto 0 auto;
}

#Content
{
	width: 300px;
	margin: 0 auto 0 auto;
	padding: 0 0 0 0;	
}

#Nav
{
    width: 305px;
	clear: both;
	z-index: 9000;
	position: relative;
	height:50px;
}

#Buttons
{
    height: 30px;
	width: 305px;
	position: relative;
	z-index:8000;
}

.nav_item
{
    position: relative;
    width: 71px;
	height: 25px;
	margin-left: 4px;
	float: left;
	font-size: 10pt;
	z-index: 9050;
}

.nav_item a
{
    text-decoration: none;
	color: white;
}

#Signin_link a
{
    padding: 13px 0 0 0;
	width: 72px;
	height: 30px;
    background-color: #636566;
    float: left;
}

.nav_item a:hover
{
    text-decoration: none;
    color: #71D0CE;
}

.nav_link
{
    padding: 13px 0 0 0;
	width: 72px;
	height: 30px;
    background-color: #636566;
    float: left;
}

.dummy
{
    width: 72px;
	height: 30px;
	float: left;
	clear: both;
    background-color: #636566;
    color: white;
	padding: 13px 0 0 0;
}

#User_box #User_options
{
    display: none;
	/*float: left;*/
}

#Build_box #Build_options
{
    display: none;
	/*float: left;*/
}

#Assembly_box #Assembly_options
{
    display: none;
	/*float: left;*/
}

#User_box:hover #User_options
{
    display: block;
}

#Build_box:hover #Build_options
{
    display: block;
}

#Assembly_box:hover #Assembly_options
{
    display: block;
}

.options
{
    list-style: none;
	margin: 0 0 0 13px;
	padding: 0 0 0 0;
	font-size: 10pt;
}

.options li
{
    list-style: none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	height: 40px;
	width: 62px;
}

.option_link
{
    border-bottom: 1px solid #636566;
}

.option_link a
{
    background-color: #212221;
	float: left;
	height: 30px;
	width: 62px;
	padding: 10px 0 0 0;
	font-size:10pt;
}

.option_link_solo a
{
    background-color: #212221;
	float: left;
	height: 30px;
	width: 125px;
	padding: 10px 0 0 0;
}

#Existing #Last_three
{
    display: none;
	float: left;
}

#Info #Info_categories
{
    display: none;
	float: left;
}

#Existing:hover #Last_three
{
    display: block;
}

#Info:hover #Info_categories
{
    display: block;
}

#Existing .spacer
{
    display: none;
}

#Existing:hover .spacer
{
    display: block;
}

#Info .spacer
{
    display: none;
}

#Info:hover .spacer
{
    display: block;
}

.spacer
{
    background-color: #212221;
    height: 6px;
	width: 125px;
	float: left;
}

.list_link
{
    background-color: #212221;
    float: left;
	height: 30px;
	width: 62px;
	padding: 10px 0 0 0;
}

.final_options
{
    background-color: #1b1c1b;
	margin: 0 0 0 15px;
	padding: 0 0 0 0;
}

.final_options li
{
    width: 110px;
	height: 19px;
	padding: 2px 0 0 0;
	font-size: 10pt;
}

.bottom_seperator
{
    border-bottom: solid 1px #3d4244;
}

#Signup
{
    position: relative;
	clear: both;
    height: 230px;
	width: 400px;
	margin-left: 5px;
	margin-top: 25px;
	margin-right: 14px;
	padding-top: 25px;
	z-index: 9030;
}

#Close
{
	float: left;
	height: 230px;
	background-color: #636566;
}

#Close a
{
    background-color: #212221;
    text-decoration: none;
	font-size: 10pt;
	color: #71D0CE;
	padding-left: 3px;
	padding-right: 4px;
}

#Close a:hover
{    
    text-decoration: none;
    background-color: #636566;
}

#Sign_info
{
	float: left;
	height: 230px;
	padding-left: 10px;
	background-color: #636566;
}

.form
{
	clear: both;
}

.header
{
	float: left;
    color: white;
    margin: 5px 0 0 0;
	padding: 0 0 0 0;
}

.form_fields
{    
	float: left;
	height: 80px;
	margin-top: 5px;
	clear: left;
}

#Login
{
    margin-left: 25px;
}

.label
{
	float: left;
	clear: left;
	color: white;
}

.field
{
	float: left;
}

#password
{
    margin-left: 4px;
}

#email
{
    margin-left: 34px;
}

.submit_button
{
	float: left;
	margin-top: 5px;
	margin-left: 5px;
}

#Login_submit
{
    margin-right: 6px;
}

.errors
{
	float: left;
}

#Signup_errors
{
	width: 331px;
}

#Login_errors
{
    width: 230px;
}

.sign_errors
{
	float: left;
	clear: left;
	color: #71D0CE;
    margin: 5px 10px 0 10px;
}

.log_errors
{
	float: left;
    margin: 5px 0 0 0;
	padding: 0 0 0 0;
	clear: left;
	color: #71D0CE;
}

#Log_header
{    
	color: #71D0CE;
}

#Sign_header
{
	color: #71D0CE;
	margin-left: 10px;
}

#Login_good
{
    color: white;
}

#Login_good a
{
    color: white;
    text-decoration: none;
}

#Login_good a:hover
{    
    color: #71D0CE;
    text-decoration: none;
}
