#Back_cats
{
	position: fixed;
	bottom: 0;
	padding: 0 0 0 0;
	text-align: center;
	line-height: 35px;
	/*width: 100%;*/
	width: 300px;
	z-index: 30;
	margin-left: auto;
	margin-right: auto;
	height: 2em;
}

#Back_cats a
{
	display: block;
    font-size: large;
	color: white;
	background-color: #636566;  
	width: 100%;
	text-decoration: none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#Back_cats a:hover
{
    color: #71D0CE;
}

#Parts
{
    margin: 0 auto 0 auto;
	width: 320px;
}

#Part_nav
{
	position: relative;
	margin: 0 auto 0 auto;
	padding: 0 0 0 0;
	width: 320px;
	float: left;
	text-align: center;
}

#Part_nav a
{
	position: relative;
	padding: 0 0 0 0;
	color: white;
	text-decoration: none;
	font-size: large;
	margin: 8px 0 0 0;
}

#Part_nav a:first-child {
	float: left;
}

#Part_nav a:last-child {
	float: right;
}

#Part_nav a:hover
{
    color: #71D0CE;
}

#Header
{
    display: inline;
    position: relative;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	color: white;
}

#Header h1
{
    display: inline;
    padding: 0 0 0 0;
	margin: 54px 0 0 0;
}

#Parts_list
{
    position: relative;
    width: 320px;
	margin: 0 auto 0 auto;
	float: left;
}

.part
{
    position: relative;
	width: inherit;
    float: left;
	border-top: solid 4px #212121;
	color: white;
}

.always_visible
{
    position: relative;
	width: inherit;
    float: left;
}

.part_info
{
    position: relative;
    float: left;
	width: 320px;
	margin: 0 0 0 0;
}

.price
{
    position: relative;
    float: right;
	margin: 10px 20px 0 0;
	padding: 0 0 0 0;
}

.first_row
{
    position: relative;
    padding: 0 0 0 0;
	margin: 10px 50px 0 0;
	float: left;
}

.second_row
{
	float: left;
    position: relative;
    padding: 0 0 0 0;
	margin: 10px 80px 0 0;
}

.beginning
{
    clear: left;
	margin-left: 20px;
}

.add
{
    position: relative;
    float: left;
	width: 60px;
}

.add a
{
    position: relative;
    float: left;
	text-decoration: none;
	color: white;
	width: 40px;
	padding: 5px 0 5px 0;
	margin: 5px 0 0 0;
}

.add a:hover
{
    color: #71D0CE;
}

.add button
{
    position: relative;
    float: left;
	text-decoration: none;
	color: white;
	background-image: none;
	border: none;
	width: 40px;
	padding: 5px 0 5px 0;
	margin: 5px 0 0 0;
	font-size: medium;
	font-weight: normal;
	cursor: pointer;
}

.add button:hover
{
    color: #71D0CE;
}

.part_specs
{
    position: relative;
    float: left;
	width: inherit;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.part_specs p
{
	margin: 10px 0 0 20px;
	padding: 0 0 0 0;
}

.part_specs a
{
    color: #71D0CE;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-decoration: none;
}

.part_specs a:hover
{
    color: #71D0CE;
	text-decoration: underline;
}

.show_specs
{
    position: relative;
    float: left;
	width: inherit;
	height: 25px;
    background-color: #636566;
	margin: 10px 0 0 0;
}

.arrow_button
{
    position: relative;
    border: none;
    height: 25px;
	width: 110px;
	background: no-repeat;
    background-image: url(../images/arrow_down.png);
	cursor: pointer;
	margin: 0 auto 0 auto;
	padding: 0 0 0 0;
}

.arrow_button img
{
    float: left;
}

.arrow_buttom span
{
    float: left;
	color: white;
	font-size: medium;
}

#Right_span
{
    margin-left: 30px;
}

#Page_nav
{
    margin: 0 auto 0 auto;
	width: inherit;
	padding: 0 0 0 0;
	float: left;
}

#Page_nav a
{
    float: left;
    position: relative;
	padding: 0 0 0 0;
	color: white;
	text-decoration: none;
	font-size: large;
	margin: 30px 0 0 0;
}

#Page_nav a:hover
{
    color: #71D0CE;
}

#Pages
{
	height: 50px;
	width: 320px;
	float: left;
}

#Pages h4
{    
	margin: 30px 0 0 0;
}

#Pages a
{
    float: none;
    position: relative;
    text-decoration: none;
	width: 10px;
	color: white;
	margin: 0 15px 0 15px;
	padding: 0 0 0 0;
	font-size: large;
}

.col
{
    float: left;
}

.price_tab, #Selected_tab {
	display: none;
}

